name: Build and Push to ECR

on:
  push:
    branches: [main]

env:
  ACCOUNT_ID: "380018306632" # set your aws account id
  REGION: "us-east-1" # set your aws region (e.g., us-east-1)
  REPO_NAME: "cs1660/project2" # set your ecr repository name

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: login to amazon ecr
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: build, tag, and push to ecr
        run: |
          docker build -t cs1660p2:c1 .
          docker tag cs1660p2:c1 ${{ env.ACCOUNT_ID }}.dkr.ecr.${{ env.REGION }}.amazonaws.com/${{ env.REPO_NAME }}:latest
          docker push ${{ env.ACCOUNT_ID }}.dkr.ecr.${{ env.REGION }}.amazonaws.com/${{ env.REPO_NAME }}:latest
